body{
    margin: 0;
    background-color: #91BECC;
}
.nav nav{
    width: 50%;
    height: 70px;
    /* min-height: 32px; */
    padding: 0 25%;
    background-color: #111;
}
.nav nav li{
    float: right;
    list-style: none;
    width: 13%;
    height: auto;
    padding: 20px 0.67%;
    text-align: center;
    font-size: 1.2em;
    color: wheat;
}
.nav nav li a{
    color: wheat;
    text-decoration: none;
}
.nav nav a:hover{
    color: #777;
}

.introduce{
    margin: 40px 4.94%;
    width: 90.12%;
    height: 400px;
}
.introduce>div{
    float: left;
    width: 65%;
    height: 100%;
    margin-right: 4%;
    background-color:white;
    border-radius: 10px;
}
.introduce>div div{
    float: left;
    border-left : solid #ddd 1px;
    height: 100%;
    width: 33%;
}
.introduce>div div h2{
    text-align: center;
}
.introduce>div div div{
    margin: 10px 20px;
    width: 86.38%;
    height: 50%;
    overflow: hidden;
}
.introduce>div div a img{
    width: 100%;
    height: 100%;
}
.introduce>div div a img:hover{
    transform: scale(1.2,1.2);
    transition: all 1s ease-in;
}
.introduce>div div p{
    font-size: 1.1em;
    margin:16px;
}
.introduce>div div a.font{
    text-decoration: none;
    color: green;
    font-size: 1.1em;
    margin: 0 16px;
}
.introduce>div div a.font:hover{
    color: red;
}

.introduce article{
    float: left;
    width: 29.63%;
    height: 100%;
    background-color:white;
    border-radius: 10px;
}
.introduce article h2{
    text-align: center;
}
.introduce article>div div{
    background-color: #ccc;
    margin: 8px 2.5%;
    padding: 10px 1.25%;
    width: 92.5%;
    border-radius: 10px;
    height: 20px;
}
.introduce article div img{
    width: 32.5%; 
    border-radius: 100%;
    margin: 0 135px;
}

.section{
    width: 100%;
    height: 450px;
    background-color: #ddd;
}

#demoSliderContainer {
    float: left;
    background: #000;
    box-shadow: 1px 1px 5px #000;
    padding: 0;
    overflow: auto;
    margin: 10px 4.94%;
    width: 40.05%;
    height: 400px;
  }
.text1{
    background-color: #fff;
    color: wheat;
    height: 50px;
    font-size: 1.3em;
}
#demoSlider {
    border: 1px solid #000;
    border-width: 5px 5px 0;
    height: 290px;
    margin: 0 auto;
    padding: 0 20px;
    width: 91.67%;
    overflow: hidden;
    position: relative;
  }
      
  .slide-images .slide-image {
    position: absolute;
  }
      
  .slide-images .slide-image img {
    z-index: 2;
    height: 289px;
    width: 560px;
  }
  .slide-images .slide-image.current img {
    z-index: 12;
  }
      
  .slide-images .slide-image.current span {
    z-index: 13;
  }
      
  #demoSliderContainer .options {
    padding: 3px 10px;
    text-align: center;
  }
  #demoSliderContainer .options a {
    color: #91BECC;
    font-family: Georgia,Serif;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
  }
  #demoSliderContainer .options a:hover {
    color: #D3E5EB;
  }
  #demoSliderContainer .slide-pager a {
    transition-duration: 0.5s;
  }
  #demoSliderContainer .slide-pager a.current {
    background-color: #91BECC;
    border-radius: 5px 5px 5px 5px;
    color: black;
    padding: 0 4px;
  }
  #demoSliderContainer .options .prevSlide {
    float: left;
  }
  #demoSliderContainer .options .nextSlide {
    float: right;
  }
  .slide-images .slide-image,
    .slide-images .slide-image img {
       transition-duration: 1.5s;
     }
  .slide-images.transition-zoom .slide-image {
    opacity: 0;
  }
  .slide-images.transition-zoom .slide-image.current {
    opacity: 1;
  }
  .slide-images.transition-zoom .slide-image img {
    left: -275px;
    position: relative;
    top: -110px;
    width: 1100px;
  }
  .slide-images.transition-zoom .slide-image.current img {
    left: 0;
    top: 0;
    width: 550px;
  }

  .post{
      float: left;
      background-color: #000;
      margin: 10px 4.94%;
      width: 40.05%;
      height: 400px;
  }
  .post div{
      border: 1px #aaa solid;
      background: orange;
      width: 100%;
      height: 96px;
      overflow: hidden;
  }
  .post div div{
      float: left;
      background: orchid;
      margin: 10px; 
      padding: 23px 0.5%;
      border: none;
      width: 11.67%;
      height: 30px;
      color: white;
      font-size: 1.1em;
      text-align: center;
  }
  .post div a{
      text-decoration: none;
      color: orangered;
      font-size: 1.1em;
      font-weight: bold;
  }
footer{
    padding: 30px 25%;
    width: 50%;
    height: 20px;
}
footer a{
    text-decoration: none;
    color: darkblue;
}
.footer{
    width: 70%;
    height: 200px;
    padding: 0 15%;
    background: white;

}
.footer>div{
    margin: 10px 20px;
    float: left;
    width: 19.06%;
    height: 180px;
}