body{
    margin: 0;
    background-color: #91BECC;
}
.nav nav{
    width: 60%;
    min-width: 480px;
    height: 70px;
    /* min-height: 32px; */
    padding: 0 20%;
    background-color: #111;
    position: fixed;
    top: 0;
}
.nav nav li{
    float: right;
    list-style: none;
    width: 10%;
    min-width: 48px;
    height: auto;
    padding: 20px 0.67%;
    text-align: center;
    font-size: 1.2em;
    color: wheat;
}
.nav nav li a{
    color: wheat;
    text-decoration: none;
}
.nav nav a:hover{
    color: #777;
}
